flows.json
[{"id":"24a2334c.a2cd6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c89a2eb2.2b49a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"31917421.88cc3c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"92e7b504.3f55a8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"4909736f.bb8c4c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2e6c6878.d899b8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"dno83a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b8dab494.788a18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"917c3288.3c492","type":"ui_group","z":"","name":"humidity","tab":"fa73fef6.0d483","disp":true,"width":"6","collapse":false},{"id":"e9bf05bf.56f2f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fa73fef6.0d483","type":"ui_tab","z":"","name":"details","icon":"dashboard","disabled":false,"hidden":false},{"id":"ccff48ba.0851b8","type":"ui_group","z":"","name":"Default","tab":"fa73fef6.0d483","disp":true,"width":"6","collapse":false},{"id":"359bd95.9510126","type":"ui_group","z":"","name":"temp","tab":"fa73fef6.0d483","disp":true,"width":"6","collapse":false},{"id":"78bc1a1b.ee28f4","type":"ui_group","z":"","name":"BOT","tab":"e9bf05bf.56f2f8","disp":true,"width":"6","collapse":false},{"id":"179c712e.bd314f","type":"ui_tab","z":"","name":"HOME AUTO","icon":"dashboard","disabled":false,"hidden":false},{"id":"72648600.1c758c","type":"ui_group","z":"","name":"LIGHT ON","tab":"179c712e.bd314f","disp":true,"width":"6","collapse":false},{"id":"8f0c2830.ddd958","type":"ui_group","z":"","name":"LIGHT OFF","tab":"179c712e.bd314f","disp":true,"width":"6","collapse":false},{"id":"b369c552.c6c098","type":"ui_tab","z":"","name":"SENSOR DATA","icon":"dashboard","disabled":true,"hidden":false},{"id":"f1adad1f.c0171","type":"ui_group","z":"","name":"Ultra sonic","tab":"b369c552.c6c098","disp":true,"width":"6","collapse":false},{"id":"de38be10.39986","type":"ui_tab","z":"","name":"sensor ","icon":"dashboard","disabled":false,"hidden":false},{"id":"6fec479f.68e808","type":"ui_group","z":"","name":"ultra sonic","tab":"de38be10.39986","disp":true,"width":"6","collapse":false},{"id":"eb5f52c4.9ac4e","type":"ibmiot in","z":"24a2334c.a2cd6c","authentication":"apiKey","apiKey":"2e6c6878.d899b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"ruchika","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":320,"wires":[["112d737b.ccc1dd","73fea42a.41111c","f24d07a8.e7f4c8"]]},{"id":"f24d07a8.e7f4c8","type":"debug","z":"24a2334c.a2cd6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":320,"wires":[]},{"id":"112d737b.ccc1dd","type":"function","z":"24a2334c.a2cd6c","name":"jason  passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["ef01d211.152fd"]]},{"id":"65727cb9.4f09e4","type":"debug","z":"24a2334c.a2cd6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":440,"wires":[]},{"id":"73fea42a.41111c","type":"function","z":"24a2334c.a2cd6c","name":"jason  passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["466c3df.9bf38c4"]]},{"id":"b8afe9e6.afec18","type":"watson-conversation-v1","z":"24a2334c.a2cd6c","name":"JNTU CHATBOT","workspaceid":"4f84e619-bc8c-4214-9fda-6de97f6a229c","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":370,"y":600,"wires":[["f455fb49.c660e8"]]},{"id":"571a9492.b7ce8c","type":"inject","z":"24a2334c.a2cd6c","name":"","topic":"","payload":"will it rain","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[[]]},{"id":"d4abfa57.bba558","type":"debug","z":"24a2334c.a2cd6c","name":"bot total response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":640,"wires":[]},{"id":"f455fb49.c660e8","type":"function","z":"24a2334c.a2cd6c","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":780,"wires":[["404829c.8a42cd8"]]},{"id":"52fb5460.8985bc","type":"inject","z":"24a2334c.a2cd6c","name":"","topic":"","payload":"namaste","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":700,"wires":[[]]},{"id":"4c1b569d.3cf398","type":"debug","z":"24a2334c.a2cd6c","name":"bot respose after josn passing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":680,"wires":[]},{"id":"c1b43ea3.fa41e","type":"ui_form","z":"24a2334c.a2cd6c","name":"","label":"","group":"78bc1a1b.ee28f4","order":1,"width":0,"height":0,"options":[{"label":"user input ","value":"user_text","type":"text","required":true}],"formValue":{"user_text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":320,"y":860,"wires":[["6ddac42c.55c56c"]]},{"id":"eac01fad.d6d19","type":"debug","z":"24a2334c.a2cd6c","name":"form output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":190,"y":960,"wires":[]},{"id":"6ddac42c.55c56c","type":"function","z":"24a2334c.a2cd6c","name":"form json passing","func":"msg.payload=msg.payload.user_text\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":960,"wires":[["a28c06f0.1e6d28","b8afe9e6.afec18"]]},{"id":"a28c06f0.1e6d28","type":"ui_text","z":"24a2334c.a2cd6c","group":"78bc1a1b.ee28f4","order":1,"width":0,"height":0,"name":"user input","label":"user_input:","format":"{{msg.payload}}","layout":"row-left","x":720,"y":960,"wires":[]},{"id":"fb2f5e0e.8244f","type":"ui_text","z":"24a2334c.a2cd6c","group":"78bc1a1b.ee28f4","order":2,"width":0,"height":0,"name":"BOT RESPONSE","label":"bot_response:","format":"{{msg.payload}}","layout":"row-left","x":970,"y":1140,"wires":[]},{"id":"404829c.8a42cd8","type":"switch","z":"24a2334c.a2cd6c","name":"bot related switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"weather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":1060,"wires":[["ab3e9936.6d6d18"],["15892ec9.6103c1"],["d48201d1.a875e"],["fb2f5e0e.8244f"]]},{"id":"ab3e9936.6d6d18","type":"function","z":"24a2334c.a2cd6c","name":"temperature","func":"msg.payload=\"today's temperature is \"+global.get(\"T\")\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1060,"wires":[["fb2f5e0e.8244f"]]},{"id":"15892ec9.6103c1","type":"function","z":"24a2334c.a2cd6c","name":"humidity","func":"msg.payload=\"today's humidity is \"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1140,"wires":[["fb2f5e0e.8244f"]]},{"id":"d48201d1.a875e","type":"function","z":"24a2334c.a2cd6c","name":"weather","func":"msg.payload=\"today's temperature is  \"+global.get(\"T\")+\" and today's humidity is \"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1240,"wires":[["fb2f5e0e.8244f"]]},{"id":"e8932146.ddd5e","type":"http in","z":"24a2334c.a2cd6c","name":"weather request","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1400,"wires":[["2317d42f.edc9fc"]]},{"id":"2e4a4334.1f43cc","type":"http response","z":"24a2334c.a2cd6c","name":"","statusCode":"","headers":{},"x":630,"y":1400,"wires":[]},{"id":"2317d42f.edc9fc","type":"function","z":"24a2334c.a2cd6c","name":"weather response","func":"msg.payload = {\"temperature1\":global.get(\"T\"),\"humidity1\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["2e4a4334.1f43cc"]]},{"id":"ef01d211.152fd","type":"ui_gauge","z":"24a2334c.a2cd6c","name":"","group":"359bd95.9510126","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":380,"wires":[]},{"id":"466c3df.9bf38c4","type":"ui_gauge","z":"24a2334c.a2cd6c","name":"","group":"917c3288.3c492","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":520,"wires":[]},{"id":"1aec9449.685a7c","type":"ui_button","z":"31917421.88cc3c","name":"","group":"72648600.1c758c","order":0,"width":0,"height":0,"passthru":true,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light on","payloadType":"str","topic":"","x":380,"y":180,"wires":[["9f46d948.ec5658","88cb42d3.27a76"]]},{"id":"21ef9e16.02e7e2","type":"ui_button","z":"31917421.88cc3c","name":"","group":"8f0c2830.ddd958","order":0,"width":0,"height":0,"passthru":true,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light off","payloadType":"str","topic":"","x":380,"y":320,"wires":[["4fc5ade3.89a5e4","88cb42d3.27a76"]]},{"id":"9f46d948.ec5658","type":"debug","z":"31917421.88cc3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":180,"wires":[]},{"id":"4fc5ade3.89a5e4","type":"debug","z":"31917421.88cc3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":240,"wires":[]},{"id":"88cb42d3.27a76","type":"ibmiot out","z":"31917421.88cc3c","authentication":"apiKey","apiKey":"2e6c6878.d899b8","outputType":"cmd","deviceId":"1234","deviceType":"ruchika","eventCommandType":"home","format":"string","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":520,"wires":[]},{"id":"1b1e9c1a.81ec24","type":"http in","z":"31917421.88cc3c","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":350,"y":660,"wires":[["63ee79fd.f011e8"]]},{"id":"4919fd23.947b84","type":"http response","z":"31917421.88cc3c","name":"","statusCode":"","headers":{},"x":770,"y":760,"wires":[]},{"id":"4188e348.3df67c","type":"debug","z":"31917421.88cc3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":660,"wires":[]},{"id":"63ee79fd.f011e8","type":"function","z":"31917421.88cc3c","name":"response json passing","func":"msg.payload = msg.payload.command\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["4919fd23.947b84","4188e348.3df67c","88cb42d3.27a76"]]},{"id":"f7237a65.9fc598","type":"ibmiot in","z":"c89a2eb2.2b49a","authentication":"apiKey","apiKey":"2e6c6878.d899b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"ruchika","eventType":"+","commandType":"home","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":100,"wires":[["a490a484.9236f8","805bb1f4.02ef"]]},{"id":"11a8ce72.710f12","type":"debug","z":"c89a2eb2.2b49a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":100,"wires":[]},{"id":"a490a484.9236f8","type":"function","z":"c89a2eb2.2b49a","name":"jason  passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["11a8ce72.710f12"]]},{"id":"dd0a8cd0.886e9","type":"debug","z":"c89a2eb2.2b49a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":220,"wires":[]},{"id":"805bb1f4.02ef","type":"function","z":"c89a2eb2.2b49a","name":"jason  passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["dd0a8cd0.886e9"]]},{"id":"a264bf3.79c9e4","type":"http in","z":"c89a2eb2.2b49a","name":"weather request","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":260,"y":360,"wires":[["9dc7fde3.4a42a"]]},{"id":"66958503.cdad9c","type":"http response","z":"c89a2eb2.2b49a","name":"","statusCode":"","headers":{},"x":850,"y":420,"wires":[]},{"id":"9dc7fde3.4a42a","type":"function","z":"c89a2eb2.2b49a","name":"weather response","func":"msg.payload = {\"temperature1\":global.get(\"T\"),\"humidity1\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["66958503.cdad9c"]]},{"id":"5d651d1d.648e24","type":"ibmiot out","z":"c89a2eb2.2b49a","authentication":"apiKey","apiKey":"2e6c6878.d899b8","outputType":"cmd","deviceId":"1234","deviceType":"ruchika","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":560,"wires":[]},{"id":"989841d.e226ec","type":"http in","z":"c89a2eb2.2b49a","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":390,"y":700,"wires":[["3f429c79.2be664"]]},{"id":"e181ff6a.f9163","type":"http response","z":"c89a2eb2.2b49a","name":"","statusCode":"","headers":{},"x":810,"y":800,"wires":[]},{"id":"e2f6f616.1afbb8","type":"debug","z":"c89a2eb2.2b49a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":700,"wires":[]},{"id":"3f429c79.2be664","type":"function","z":"c89a2eb2.2b49a","name":"response json passing","func":"msg.payload = msg.payload.command\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["e181ff6a.f9163","e2f6f616.1afbb8","5d651d1d.648e24"]]},{"id":"4fa7473e.462078","type":"ibmiot in","z":"92e7b504.3f55a8","authentication":"apiKey","apiKey":"2e6c6878.d899b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"ruchika","eventType":"+","commandType":"home","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":410,"y":140,"wires":[["ac64b839.da3598","3e1b16c0.43092a"]]},{"id":"ff00ea44.81eca8","type":"debug","z":"92e7b504.3f55a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":120,"wires":[]},{"id":"ac64b839.da3598","type":"function","z":"92e7b504.3f55a8","name":"jason  passing","func":"global.set(\"D\",msg.payload.d.distance)\nmsg.payload = msg.payload.d.distance\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["fd635845.763f28"]]},{"id":"73994d3b.ec4fb4","type":"http in","z":"92e7b504.3f55a8","name":"US sensor","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":380,"y":380,"wires":[["930c6a37.d0c9a8"]]},{"id":"fb248865.b3dde8","type":"http response","z":"92e7b504.3f55a8","name":"","statusCode":"","headers":{},"x":930,"y":380,"wires":[]},{"id":"930c6a37.d0c9a8","type":"function","z":"92e7b504.3f55a8","name":"US sensor response","func":"msg.payload = {\"distance1\":global.get(\"D\")}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["fb248865.b3dde8"]]},{"id":"fd635845.763f28","type":"ui_gauge","z":"92e7b504.3f55a8","name":"","group":"6fec479f.68e808","order":0,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":220,"wires":[]},{"id":"3e1b16c0.43092a","type":"cloudant out","z":"92e7b504.3f55a8","name":"cool","cloudant":"","database":"ruchika","service":"rd-cloudantNoSQLDB","payonly":false,"operation":"insert","x":730,"y":280,"wires":[]},{"id":"2a9e3e70.ee6f72","type":"cloudant in","z":"92e7b504.3f55a8","name":"cool2","cloudant":"","database":"ruchika","service":"rd-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":470,"y":560,"wires":[["5baecdae.796d34"]]},{"id":"5baecdae.796d34","type":"debug","z":"92e7b504.3f55a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":600,"wires":[]},{"id":"8e1a52f4.fa471","type":"inject","z":"92e7b504.3f55a8","name":"","topic":"","payload":"{  \"_id\": \"0848e8abdb3f4028eb221940d5bcff58\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":580,"wires":[["2a9e3e70.ee6f72"]]},{"id":"d8d93761.8dfbe8","type":"ibmiot in","z":"4909736f.bb8c4c","authentication":"apiKey","apiKey":"2e6c6878.d899b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"ruchika","eventType":"+","commandType":"home","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":120,"wires":[["a15408da.f811f8","a6bb5730.6f3a28"]]},{"id":"14c1eab3.8162d5","type":"debug","z":"4909736f.bb8c4c","name":"Temprature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":320,"wires":[]},{"id":"a15408da.f811f8","type":"function","z":"4909736f.bb8c4c","name":"jason  passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["14c1eab3.8162d5"]]},{"id":"9fe5ba55.401ff8","type":"debug","z":"4909736f.bb8c4c","name":"gas leakage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":380,"wires":[]},{"id":"a6bb5730.6f3a28","type":"function","z":"4909736f.bb8c4c","name":"jason  passing","func":"global.set(\"G\",msg.payload.d.gassensor)\nmsg.payload = msg.payload.d.gassensor\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["9fe5ba55.401ff8"]]},{"id":"f0a65b94.00ae88","type":"http in","z":"4909736f.bb8c4c","name":"gas  details request","url":"/gas","method":"get","upload":false,"swaggerDoc":"","x":230,"y":620,"wires":[["a2ef780d.036428"]]},{"id":"541a5804.bae4c8","type":"http response","z":"4909736f.bb8c4c","name":"","statusCode":"","headers":{},"x":1050,"y":620,"wires":[]},{"id":"a2ef780d.036428","type":"function","z":"4909736f.bb8c4c","name":"gas details response","func":"msg.payload = {\"temperature1\":global.get(\"T\"),\"gassensor1\":global.get(\"G\")}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["541a5804.bae4c8"]]}]